.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Adjusted gap for better fit */
  padding: 10px; /* Adjusted padding for better fit */
}

.graph-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  width: 96%; /* Ensure it fits within grid cell */
}

h2 {
  font-size: 1.5rem; /* Adjusted font size */
}

.time-buttons {
  margin-bottom: 10px; /* Adjusted margin for spacing */
  margin: auto;
}

.timeButton
{
    margin-left: 15px;
}

.graph-item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}